* {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #e9e9e9;
  height: 100%;
}

.menu {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: ". . home products about . . comfy . . . . cart . .";
}

.menu a {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  cursor: pointer;
  padding-top: 25px;
  text-align: center;
  color: black;
}

.menu__item {
  font-size: large;
}

.menu__item:nth-child(1) {
  grid-area: home;
}

.menu__item:nth-child(2) {
  grid-area: products;
}

.menu__item:nth-child(3) {
  grid-area: about;
}

.menu__item:nth-child(4) {
  font-size: 30px;
  grid-area: comfy;
  font-family: "Permanent Marker", cursive;
}

.menu__item:nth-child(5) {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  cursor: pointer;
  grid-area: cart;
}

.menu__item img {
  width: 25px;
}

.title {
  width: 100%;
  height: 200px;
  background-color: #c5b3d9;
}

.title h1 {
  padding: 70px 0 0 200px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about p {
  width: 800px;
}

.item__col-text {
  color: #fff061;
}

.item__col-text {
  color: #fff061;
}/*# sourceMappingURL=about.css.map */