* {
  font-family: "Noto Sans JP", sans-serif;
}

html,
body {
  /*  height: 100%;*/
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.5);
}

.bag__close {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  margin-left: -300px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.bag__close:before, .bag__close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 20px;
  background-color: black;
}
.bag__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.bag__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.bag {
  float: right;
  background-color: #e9e9e9;
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;*/
  align-items: center;
  border-left: 3px solid #fff061;
  border-bottom: 3px solid #fff061;
  border-bottom-left-radius: 5px;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

.bag__items {
  flex: 1;
  /* @include flex-center;*/
}

.bag__item {
  margin-bottom: 5px;
  border: 3px solid #fff061;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 300px;
  background-color: #c5b3d9;
}

.bag__item img {
  border-radius: 5px;
  max-width: 100px;
}

.bag__item__remove {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  padding: 0px;
  cursor: pointer;
}

.bag__item__counter {
  padding-top: 0px;
}

.bag__item__counter__arrow-up {
  cursor: pointer;
  display: inline-block;
  border: solid #fff061;
  padding: 4px;
  transform: rotate(-135deg);
  background-color: transparent;
  border-width: 0 4px 4px 0;
}

.bag__item__counter__number {
  padding-top: 8px;
}

.bag__item__counter__arrow-down {
  cursor: pointer;
  display: inline-block;
  border: solid #fff061;
  padding: 4px;
  transform: rotate(-135deg);
  background-color: transparent;
  border-width: 4px 0 0 4px;
}

.bag__total {
  font-family: "Permanent Marker", cursive;
}

.bag__checkout, .bag__remove-all {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  border: 2px solid #fff061;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 15px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}
.bag__checkout:hover, .bag__remove-all:hover {
  background-color: #fff061;
  transition: background-color 0.3s ease-in-out;
}

.bag__remove-all {
  border: none;
}

footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center;*/
  align-items: center;
  flex-shrink: 0;
}/*# sourceMappingURL=bag.css.map */