* {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-image: url("/img/back-home.png");
  background-size: 80% auto;
}

.menu {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: ". . home products about . . comfy . . . . cart . .";
}

.menu a {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  cursor: pointer;
  padding-top: 25px;
  text-align: center;
  color: black;
}

.menu__item {
  font-size: large;
}

.menu__item:nth-child(1) {
  grid-area: home;
}

.menu__item:nth-child(2) {
  grid-area: products;
}

.menu__item:nth-child(3) {
  grid-area: about;
}

.menu__item:nth-child(4) {
  font-size: 30px;
  grid-area: comfy;
  font-family: "Permanent Marker", cursive;
}

.menu__item:nth-child(5) {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  cursor: pointer;
  grid-area: cart;
}

.menu__item img {
  width: 25px;
}

.home_title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 5px;
  grid-template-areas: ".  title . . .";
  margin: 10% 0 6% 0;
}

.home_title__grid {
  grid-area: title;
}

.home_title h1 {
  color: #c5b3d9;
  font-family: "Permanent Marker", cursive;
}

.home__button,
.home__button__bottom {
  border: 2px solid #fff061;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 15px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}
.home__button:hover,
.home__button__bottom:hover {
  background-color: #fff061;
  transition: background-color 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

.home__button__bottom {
  margin-top: 50px;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
  grid-row-gap: 50px;
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #c5b3d9;
  border-radius: 5px;
  width: 250px;
  height: 140px;
  margin-bottom: 15px;
}

.products__item__img {
  border: solid #fff061;
  border-radius: 5px;
  margin-top: 48px;
  width: 250px;
  height: 140px;
  background-color: #fff061;
}

.item__col-text {
  color: #fff061;
}/*# sourceMappingURL=home.css.map */