* {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: #e9e9e9;
  height: 100%;
}

.nav__input {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  padding: 5px;
  border: 2px solid #c5b3d9;
  border-radius: 5px;
  background-color: #fff061;
  transition: background-color 0.3s ease-in-out;
}
.nav__input:hover {
  background-color: #c5b3d9;
  border: 2px solid #fff061;
  transition: background-color 0.3s ease-in-out;
}

.menu {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas: ". . home products about . . comfy . . . . cart . .";
}

.menu a {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  cursor: pointer;
  padding-top: 25px;
  text-align: center;
  color: black;
}

.menu__item {
  font-size: large;
}

.menu__item:nth-child(1) {
  grid-area: home;
}

.menu__item:nth-child(2) {
  grid-area: products;
}

.menu__item:nth-child(3) {
  grid-area: about;
}

.menu__item:nth-child(4) {
  font-size: 30px;
  grid-area: comfy;
  font-family: "Permanent Marker", cursive;
}

.menu__item:nth-child(5) {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  cursor: pointer;
  grid-area: cart;
}

.menu__item img {
  width: 25px;
}

.title {
  width: 100%;
  height: 200px;
  background-color: #c5b3d9;
}

.title h1 {
  padding: 70px 0 0 200px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  float: left;
  margin: 10px 0 0 20px;
}

button {
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  color: none;
  cursor: pointer;
}

.products__grid {
  margin: 10px 0 0 200px;
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
  grid-row-gap: 50px;
}

.products__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #c5b3d9;
  border-radius: 5px;
  width: 250px;
  height: 140px;
  margin-bottom: 15px;
}

.products__item__img {
  border: solid #fff061;
  border-radius: 5px;
  margin-top: 48px;
  width: 250px;
  height: 140px;
  background-color: #fff061;
}

.item__col-text {
  color: #fff061;
}

.products__item__bag {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.list__loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #c5b3d9;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=products.css.map */