$font-family-basic: 'Noto Sans JP', sans-serif;
$font-family-decor: 'Permanent Marker', cursive;
$col-style-purple: #c5b3d9;
$col-style-yellow: #fff061;
$col-style-grey: #e9e9e9;
$col-semi-transparent-black: rgba(0, 0, 0, 0.5);
$border: 3px solid $col-style-yellow;

$text-col: black;
$border-radius: 5px;


@mixin style-none {
    border: none;
    background: none;
    outline: none;
    text-decoration: none;
    color: none;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-2 {
    display: flex;
    flex-direction: column;
    /* justify-content: center;*/
    align-items: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin grid-menu {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
        ". . home products about . . comfy . . . . cart . .";
}

@mixin grid-title {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;
    grid-template-areas:
        ".  title . . .";
}

@mixin grid-products {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    grid-row-gap: 50px;
}

@mixin yellow-button {
    border: 2px solid $col-style-yellow;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 15px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: $col-style-yellow;
        transition: background-color 0.3s ease-in-out;
    }
}

@mixin arrows {
    cursor: pointer;
    display: inline-block;
    border: solid $col-style-yellow;
    padding: 4px;
    transform: rotate(-135deg); 
    background-color: transparent;
}