@import '_variables';

* {
    font-family: $font-family-basic;
}

body {
    background-color: $col-style-grey;
    height: 100%;
}


.menu {
    @include grid-menu;
}

.menu a {
    @include style-none;
    cursor: pointer;
    padding-top: 25px;
    text-align: center;
    color: $text-col;
}

.menu__item {
    font-size: large;
}

.menu__item:nth-child(1) {
    grid-area: home;
}

.menu__item:nth-child(2) {
    grid-area: products;
}

.menu__item:nth-child(3) {
    grid-area: about;
}

.menu__item:nth-child(4) {
    font-size: 30px;
    grid-area: comfy;
    font-family: $font-family-decor;
}

.menu__item:nth-child(5) {
    @include style-none;
    cursor: pointer;
    grid-area: cart;
}

.menu__item img {
    width: 25px;
}

.title {
    width: 100%;
    height: 200px;
    background-color: $col-style-purple;
}

.title h1 {
    padding: 70px 0 0 200px;
}

.about {
    @include flex-center;
}

.about p {
    width: 800px;
}

.item__col-text {
    color: $col-style-yellow;
}

.item__col-text {
    color: $col-style-yellow;
}

