@import '_variables';

* {
    font-family: $font-family-basic;
}

html,
body {
  /*  height: 100%;*/
    margin: 0;
    padding: 0;
}

body {
    background-color: $col-semi-transparent-black;
}

.bag__close {
    cursor: pointer;
    @include style-none;
    margin-left: -300px;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 20px;
        background-color: black;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.bag {
    float: right;
    background-color: $col-style-grey;
    width: 350px;
    height: 100%;
    @include flex-center-2;
    border-left: $border;
    border-bottom: $border;
    border-bottom-left-radius: $border-radius;
}

h1 {
    font-family: $font-family-decor;
}

.bag__items {
    flex: 1;
   /* @include flex-center;*/
}

.bag__item {
    margin-bottom: 5px;
    border: $border;
    border-radius: $border-radius;
    padding: 10px;
    @include flex-between;
    height: 100px;
    width: 300px;
    background-color: $col-style-purple;
}

.bag__item img {
    border-radius: $border-radius;
    max-width: 100px;
}

.bag__item__remove {
    @include style-none;
    padding: 0px;
    cursor: pointer;
}

.bag__item__counter {
    padding-top: 0px; 
}

.bag__item__counter__arrow-up {
    @include arrows;
    border-width: 0 4px 4px 0; 
}

.bag__item__counter__number{
    padding-top: 8px;
}

.bag__item__counter__arrow-down {
    @include arrows;
    border-width: 4px 0 0 4px;

}

.bag__total {
    font-family: $font-family-decor;
}

.bag__checkout,.bag__remove-all {
    @include style-none;
    @include yellow-button;
}

.bag__remove-all {
    border: none;
}

footer {
    @include flex-center-2;
    flex-shrink: 0;
}


