@import '_variables';

* {
    font-family: $font-family-basic;
}

body {
    background-image: url('/img/back-home.png');
    background-size: 80% auto;
}

.menu {
    @include grid-menu;
}

.menu a {
    @include style-none;
    cursor: pointer;
    padding-top: 25px;
    text-align: center;
    color: $text-col;
}

.menu__item {
    font-size: large;
}

.menu__item:nth-child(1) {
    grid-area: home;
}

.menu__item:nth-child(2) {
    grid-area: products;
}

.menu__item:nth-child(3) {
    grid-area: about;
}

.menu__item:nth-child(4) {
    font-size: 30px;
    grid-area: comfy;
    font-family: $font-family-decor;
}

.menu__item:nth-child(5) {
    @include style-none;
    cursor: pointer;
    grid-area: cart;
}

.menu__item img {
    width: 25px;
}

.home_title {
    @include grid-title;
    margin: 10% 0 6% 0;
}

.home_title__grid {
    grid-area: title;
}

.home_title h1 {
    color: $col-style-purple;
    font-family: $font-family-decor;
}

.home__button,
.home__button__bottom {
    @include yellow-button;
}

a {
    text-decoration: none;
    color: inherit;
}

.home__button__bottom {
    margin-top: 50px;
}


.products {
    @include flex-center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.products__grid {
    @include grid-products;
}

.products__item {
    @include flex-center;
    margin: 0 auto;
    background-color: $col-style-purple;
    border-radius: $border-radius;
    width: 250px;
    height: 140px;
    margin-bottom: 15px;
}

.products__item__img{
    border: solid $col-style-yellow;
    border-radius: $border-radius;
    margin-top: 48px;
    width: 250px;
    height: 140px;
    background-color: $col-style-yellow;
}

.item__col-text {
    color: $col-style-yellow;
}

