@import '_variables';

* {
    font-family: $font-family-basic;
}

body {
    background-color: $col-style-grey;
    height: 100%;
}

.nav__input {
    @include style-none;
    padding: 5px;
    border: 2px solid $col-style-purple;
    border-radius: $border-radius;
    background-color: $col-style-yellow;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        background-color: $col-style-purple;
        border: 2px solid $col-style-yellow;
        transition: background-color 0.3s ease-in-out;
    }
}

.menu {
    @include grid-menu;
}

.menu a {
    @include style-none;
    cursor: pointer;
    padding-top: 25px;
    text-align: center;
    color: $text-col;
}

.menu__item {
    font-size: large;
}

.menu__item:nth-child(1) {
    grid-area: home;
}

.menu__item:nth-child(2) {
    grid-area: products;
}

.menu__item:nth-child(3) {
    grid-area: about;
}

.menu__item:nth-child(4) {
    font-size: 30px;
    grid-area: comfy;
    font-family: $font-family-decor;
}

.menu__item:nth-child(5) {
    @include style-none;
    cursor: pointer;
    grid-area: cart;
}

.menu__item img {
    width: 25px;
}

.title {
    width: 100%;
    height: 200px;
    background-color: $col-style-purple;
}

.title h1 {
    padding: 70px 0 0 200px;
}

.nav {
    @include flex-left;
    height: 100%;
    float: left;
    margin: 10px 0 0 20px;
}

button {
    @include style-none;
    cursor: pointer;
}

.products__grid {
    margin: 10px 0 0 200px;
    @include grid-products;
}

.products__item {
    @include flex-center;
    margin: 0 auto;
    background-color: $col-style-purple;
    border-radius: $border-radius;
    width: 250px;
    height: 140px;
    margin-bottom: 15px;
}

.products__item__img{
    border: solid $col-style-yellow;
    border-radius: $border-radius;
    margin-top: 48px;
    width: 250px;
    height: 140px;
    background-color: $col-style-yellow;
}

.item__col-text {
    color: $col-style-yellow;
}

.products__item__bag {
    width:15px;
    height: 15px;
    cursor: pointer;
}


.list__loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $col-style-purple;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}